body {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/trabajo-312820.appspot.com/o/back-fondo.jpg?alt=media&token=398ce7bb-1ad5-4cc2-bd16-a17f5f8e68b7);
}


/*HOME*/

.container-fluid {
    background-color: #FFF;
}

.navbar-brand {
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
}

.navbar-nav button {
    margin-top: 6px;
    margin-bottom: auto;
    background-color: #2E4B73;
}

button {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}


/*BIENVENIDOS*/

.texto {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    border: solid 10px #FFF;
    background-color: #FFF;
}

.texto h5 {
    text-transform: uppercase;
    font-size: 70px;
    color: #2E4B73;
}

.texto p {
    font-size: 25px;
    color: #2E4B73;
    text-transform: uppercase;
}

.container-md {
    margin-top: 60px;
}

.textoDos {
    text-transform: uppercase;
    margin-top: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

.textoDos h5 {
    font-size: 80px;
    text-align: center;
}

.texto-team h5 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    color: #2E4B73;
    text-align: center;
    margin-top: 60px;
}

.cards-team card-body {
    text-align: center;
}

.cards-team img {
    border-radius: 20px;
    width: 200px;
    height: 200px;
}


/*Cards HOME*/

.principal {
    margin-top: 110px;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.card-body {
    background-color: #FFF;
}

.card-section {
    box-shadow: 1px 1px 15px #DDD;
    background-color: #FFF;
    border-radius: 40px;
    height: 100%;
    transition: all ease-out 0.2s;
}

.card-section:hover {
    transform: scale(1.05);
}

.card-header-first {
    margin-top: -40px;
    height: 80px;
    width: 80px;
    background-color: #2E4B73;
    border-radius: 20px;
    transform: rotate(45deg);
    display: inline-block;
    justify-content: center;
}

.card-header-first img {
    width: 70px;
    height: 70px;
    margin-top: 6px;
    transform: rotate(-45deg);
}

.card-body h5 {
    margin-top: 10px;
    font-size: 30px;
}


/*PRODUCTOS*/

.productos {
    margin-top: 100px;
}

.productos img {
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.productosDos img {
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.productos card-body {
    text-align: center;
}

.card-body-second {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    transition: all ease-out 0.2s;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-body-second:hover {
    transform: scale(1.05);
}

.card-body-second h5 {
    margin-top: 20px;
    text-transform: uppercase;
}

.modal-body img {
    width: 100%;
}

.promos {
    text-align: center;
}

.promos button {
    margin-top: 90px;
    margin-bottom: 10px;
    height: 57px;
    background-color: #2e4b73;
    color: #FFF;
    font-size: 30px;
}

.promos button:hover {
    color: #7295a9;
}


/*FAQ*/

.accordion {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Roboto Condensed', sans-serif;
}

.accordion-body {
    font-size: 18px;
    margin-top: -30px;
}

.accordion-button {
    font-size: 22px;
}


/*CONTACTOS*/

.header {
    color: #000;
    font-size: 27px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 30px;
}

.bigicon {
    font-size: 35px;
    color: #2E4B73;
    font-family: 'Roboto Condensed', sans-serif;
}

.form-group {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.boton {
    margin-top: 20px;
}

button {
    margin-bottom: 30px;
}

#spam {
    display: none;
}


/*SERVICIOS*/

.texto-servicios {
    margin-top: 130px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.texto-servicios p {
    font-size: 40px;
    color: #2E4B73;
    text-transform: uppercase;
}

.accordion-item button img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.accordion-body a {
    text-decoration: none;
}


/*FOOTER PRUEBA RESPONSIVE*/

footer {
    width: 100%;
    padding: 50px 0px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/trabajo-312820.appspot.com/o/back-footer.svg?alt=media&token=38c40f89-e0c6-415e-914b-06bee74c7676);
    background-size: cover;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    font-family: 'Roboto Condensed', sans-serif;
    ;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.box__footer .logo img {
    width: 80px;
    height: auto;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    color: #FFF;
    font-size: 18px;
}

.box__footer h2 {
    margin-bottom: 30px;
    color: #FFF;
}

.box__footer a {
    margin-top: 10px;
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
}

.box__footer a:hover {
    opacity: 0.8;
}

.box__footer a .fab {
    font-size: 20px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #FFF;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #FFF;
}